charset-normalizer==2.0.4
idna==3.2
mutagen==1.45.1
requests==2.26.0
urllib3==1.26.6
youtube-dl==2021.6.6
google-api-core==2.0.0
google-api-python-client==2.18.0
google-auth==2.0.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
googleapis-common-protos==1.53.0